<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="common.css?a=1"/>
</head>
<body>
<a href="./invalidate" class="button-inline"><b>Logout</b></a>
<div class="container">
    <form class="form" th:action="@{/addNote}" th:object="${note}" method="post" name="registaration_form" id="myform">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">..</span>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">..</span>
        <h2><center>Add Note</center></h2>
        <input pattern="(.){5,250}" type="text" placeholder="title" th:field="*{title}" required><br />
        <!--<input type="text" placeholder="description" th:field="*{description}" required>-->
        <textarea placeholder="description" rows="20" cols="80" th:field="*{description}" form="myform" required></textarea>
        <br />
        <button type="submit" class="registerbtn"><b>Add Note</b></button>
    </form>
</div>
</body>
</html>